@import '~node_modules/modern-normalize/modern-normalize.css';
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "DM Sans", sans-serif;
  color: #111111;
  background-color: #f6f6f6;
}

body.dark-theme {
  color: #ffffff;
  background-color: #202024;
}

.container {
  padding: 0 20px;
  margin: 0px auto;
}

@media screen and (max-width: 374px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 24px;
  }
  .home-container {
    display: flex;
    justify-content: space-between;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

@media screen and (max-width: 767px) {
  .home-book-card:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .book-by-category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .book-by-category-list {
    width: 996px;
  }
}
@media screen and (max-width: 374px) {
  .home-book-card {
    width: 100%;
  }
}
@media screen and (min-width: 375px) {
  .home-book-card {
    width: 335px;
  }
}
@media screen and (min-width: 768px) {
  .home-book-card {
    width: 218px;
  }
}
@media screen and (min-width: 1440px) {
  .home-book-card {
    width: 180px;
  }
}
.home-book-card-img {
  width: 100%;
}

.img-container {
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 14px;
}

@media screen and (max-width: 374px) {
  .home-book-card {
    height: 100%;
  }
}
@media screen and (min-width: 375px) {
  .img-container {
    height: 485px;
  }
}
@media screen and (min-width: 768px) {
  .img-container {
    height: 316px;
  }
}
@media screen and (min-width: 1440px) {
  .img-container {
    height: 256px;
  }
}
.home-book-card-book-title {
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.64px;
  text-transform: uppercase;
}

.home-book-card-author {
  color: #b4afaf;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.48px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.4);
  z-index: 1;
  transition: opacity 300ms linear, visibility 300ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  width: 335px;
  flex-shrink: 0;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 18px;
  border: 2px solid #111;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms;
  padding: 40px 24px;
}

.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.modal-close-btn svg {
  fill: #000;
  background-color: #fff;
  width: 24px;
  height: 24px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover svg, .modal-close-btn:focus svg {
  fill: #4F2EE8;
}

.modal-image-container {
  border-radius: 8px;
  margin-bottom: 14px;
}

.modal-title {
  color: #111;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.125em;
  letter-spacing: -0.64px;
  margin-bottom: 4px;
}

.modal-sub-title {
  color: #B4AFAF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.167em;
  letter-spacing: -0.48px;
  margin-bottom: 18px;
}

.modal-description {
  color: #111;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.286em;
  letter-spacing: -0.56px;
  margin-bottom: 14px;
}

.modal-links {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 40px;
}
.modal-links:not-last-child {
  margin-right: 20px;
}

.modal-order-btn {
  color: #111;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.286em;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  border-radius: 40px;
  border: 2px solid #4F2EE8;
  padding: 14px 23px;
  margin-bottom: 8px;
}

.modal-success-mesage {
  color: rgba(17, 17, 17, 0.5);
  text-align: center;
  font-family: DM Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: -0.4px;
}/*# sourceMappingURL=index.css.map */