<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <section class="shopping-list">
        <!-- <div class="container"> -->
            <div class="common">
            <h1 class="main-title">Shopping
                <span class="add-list-color">List</span>
                </div>
            </h1>
            <div class="default-content">
            <ul class="default-message">
                <p class="default-text">This page is empty, add some books and proceed to order.</p>
                <img class="default-img" src="./images/IMG_9606 1.png" alt="books">
            </ul>
            <!-- </div> -->
            <ul class="js-container">
                
            </ul>
          
        </div>
    </section>
</body>

</html>